﻿.mResource .panel-body .news{
 padding-left: 0;
 margin: 0;
 list-style: none;
}
.mResource .panel-body .news li{
 border-bottom: 1px solid #ddd;
}
.mResource .panel-body .news li a{
 font-size: 10pt;
 width: 100%;
 word-wrap: break-word;
 padding: 5px;
 display: block;
 color: #628ae4;
}
.mResource .panel-body .news li a:before{
 content: '\f0da';
 font-family: 'FontAwesome';
 margin-right: 5px;
}
.mResource .panel-body .news li a:hover{
 background: #ecf0f1;
}
.mResource .panel-body .news li:last-child{
 border-bottom: 0;
}
footer .fDetail figure{
color: #fff;}
footer .fDetail figure a{
color: #fff;}
.rateTable .form-alert{
margin-top: 5px;
padding: 5px;
}
footer .fDetail figure strong::after{
content: ':';
margin-right: 5px;
}