.login {
	position: relative;
	width: 350px;
	background: white;
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	margin: 0px auto;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.25);
	box-shadow: 0 1px 10px rgba(0,0,0,.25);
	margin-top: 50px;
	float: left;
	margin-left: calc((100% - 350px) / 2 )
}
.login input{
	font-size: 13px!important;
	height: 45px!important;
	padding: 5px!important;
	border-radius: 2px!important;
	-webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
}
/*.login {
	font-size: 13px;height: 45px;padding: 5;border-radius: 2px;
}*/
.bt_1 {
	float: left;width: 100%;padding: 10px;text-align: center;color: white;background: #e97b0f;border-radius: 3px;margin-top: 20px;font-size: 14px;letter-spacing: 3px;border: 1px solid #e97b0f;box-shadow: 2px 2px 0px #888888;-webkit-box-shadow: 2px 2px 0px #888888;-moz-box-shadow:2px 2px 0px #888888;margin-bottom: 10px
}
.login .bt_1:hover {
	background: orange;
}
.register {
	position: relative;
	width: 675px;
	background: white;padding: 30px;border: 1px solid #ccc;border-radius: 10px;text-align: center;-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.25);-moz-box-shadow: 0 1px 10px rgba(0,0,0,.25);box-shadow: 0 1px 10px rgba(0,0,0,.25);
	margin: 0px auto; margin-top: 50px;
	float: left;
	margin-left: calc((100% - 675px) / 2 )
}
.register input[type='text'] {
	font-size: 13px;height: 45px;padding: 10px 12px;border-radius: 2px;
}
.register input[type='password'] {
	font-size: 13px;height: 45px;padding: 10px 12px;border-radius: 2px;
}
.register select {
	font-size: 13px;height: 45px;padding: 10px 12px;border-radius: 2px;
}
.register .bt_1 {
	float: left;width: 40%;padding: 10px;text-align: center;color: white;background: #e97b0f;border-radius: 3px;margin-top: 20px;font-size: 14px;letter-spacing: 3px;border: 1px solid #e97b0f;box-shadow: 2px 2px 0px #888888;-webkit-box-shadow: 2px 2px 0px #888888;-moz-box-shadow:2px 2px 0px #888888;margin-bottom: 20px
}
.register .bt_1:hover {
	background: orange;
}
.capnhatif {
	display: inline-block;width: 150px;padding: 10px;text-align: center;color: white;background: #0cb6cf;border-radius: 3px;margin-top: 20px;font-size: 14px;letter-spacing: 3px;box-shadow: 2px 2px 0px #888888;-webkit-box-shadow: 2px 2px 0px #888888;-moz-box-shadow:2px 2px 0px #888888;margin-bottom: 20px;margin-right: 10px;
}
.capnhatif:hover {
	background: orange;
	text-decoration: none;color: white
}
.cancelcapnhatif {
	display: inline-block;width: 150px;padding: 10px;text-align: center;color: white;background: #e97b0f;border-radius: 3px;font-size: 14px;letter-spacing: 3px;box-shadow: 2px 2px 0px #888888;-webkit-box-shadow: 2px 2px 0px #888888;-moz-box-shadow:2px 2px 0px #888888;margin-bottom: 20px;margin-left: 10px
}
.cancelcapnhatif:hover {
	background: orange;
	text-decoration: none;color: white
}
