body {
	/* background:url('../img/background.jpg') no-repeat; */
	background:#efefe7;
	background-attachment: fixed;
}
.nopadding-right{
	padding-right: 0;
}
.navbar-default {
//	background-color: #389638;
}
::-webkit-input-placeholder {
 	color: #908d8d!important;
	font-size:9pt;
}
::-moz-placeholder {
 	color: #908d8d!important;
	font-size:9pt;
}
:-ms-input-placeholder {
 	color: #908d8d!important;
	font-size:9pt;
}
:-moz-placeholder {
 	color: #908d8d!important;
	font-size:9pt;
}
#snipper{
	padding-left: 15px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#waiting {	position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;text-align: center;background: rgba(0, 0, 0, 0.5);}
#waiting .loading {
	background:url('../img/loading.gif');
	background-size:50px;
	width:50px;
	height:50px;
	margin:0 auto;
	margin-top:250px;
}
.white{
	background: #fff;
}
.green{
//	background: #059059!important;
}
.dark{
	background: #2b3e50;
}
.dark-blue{
	background: #008181!important;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.bold{
	font-weight: bold;
}
.m-20{
	margin-bottom: 20px;
}
.p-tb-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.p-lr-20{
	padding-left: 20px!important;
	padding-right: 20px!important;
}
.p-10{
	padding: 10px;
}
.p-r-0{
	padding-right: 0;
}
.uptext{
	text-transform: uppercase;
}
.alert, .alert ol li, .alert ul li{
	color: #fff;
}
.iblock{
	display: inline-block!important;
}
button.close{
//	background: #d9534f;
//	border: 1px solid #fff;
}
a:focus, a:hover, button:hover, button:focus{
	outline: 0;
	text-decoration: none;
}
:focus, :hover{
	/* -webkit-backface-visibility: hidden; */
	/* -webkit-transition: background 0.3s ease-out,color 0.3s ease-out;  */
	/* -moz-transition: background 0.3s ease-out,color 0.3s ease-out;  */
	/* -o-transition: background 0.3s ease-out,color 0.3s ease-out;  */
	/* transition: background 0.3s ease-out,color 0.3s ease-out; */
}
body{
	font-family: 'Tahoma';
}
img.icon{
	width: 25px;
	margin-right: 10px;
}
header li a:before, .bootstrap-select a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0px;
	left: 0;
	background-color: #efefe7;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
li a:hover:before, .bootstrap-select a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Widget */
.widget h1{
	font-size: 14px;
	color: #fff;
	margin: 0;
	font-weight: bold;
}
.widget li.list-group-item{
	border: 1px solid #546575;
}
.widget i{
	margin: 0 15px;
	font-weight: normal;
}
.widget ul.news{
	list-style: none;
	padding-left:0;
	margin: 0;
}
.widget ul.news li:before{
	font-family: 'FontAwesome';
	content: '\f101';
	padding-right: 10px;
}
.widget ul.news li{
	padding: 5px;
	border-bottom: 2px solid #4e5d6c;
}
.widget ul.news li:last-child{
	border-bottom: 0;
}
.widget ul.news li>a{
	color: #fff;
}
.widget ul.news li:hover, .widget ul.news li:focus{
	background: #4e5d6c;
}
.widget ul.news li>a:hover, .widget ul.news li>a:focus, .widget ul.news li:hover, .widget ul.news li:focus{
	color: #f0ad4e;
}
/* Home */
.index h4{
	font-size: 16px;
	color: #fff;
	margin: 0;
}
.index span{
	color: #fff;
}
.index table{
	background-color: rgba(0,0,0,0.075);
}
.index table td, .index table th{
	text-align: center;
}
.index h3.title{
	font-size: 18px;
	color: #ebebeb;
	margin-top: 0;
}
.index .bootstrap-select{
	margin-bottom: 10px;
}
.index .bootstrap-select i{
	margin-right: 10px;
}
.index .bootstrap-select a:hover, .index .bootstrap-select a:focus{
	outline: 0;
}
i.fa{
	font-family: 'FontAwesome';
}
.bootstrap-select.btn-group .dropdown-menu{
	border: 1px solid #ffffff;
    border-top: 0;
}
.cBackgroud{
	background: #f9f9f9;
}
@media screen and (max-width: 768px) {
	.space {
		padding-bottom:10px;
	}
}
@media screen and (max-width: 1220px){
	
}
.navbar, .panel-heading, .panel, .progress  {
//	border-radius:0;
}
.logo { 
	width: 350px;
    margin-top: -2px;
}
a>.list-group-item:hover, a>.list-group-item:focus {
	background:#175f5f;
}
.form-group, .form-control, .dropdown-menu, .btn, .alert {
//	border-radius:0;
}
.transaction span {
	font-size:10pt;
	color: #222;
}
.transaction label {
	margin-top: 3px;
}
.transaction .row {
	margin-bottom: 10px;
}
@-webkit-keyframes waiting {
    0%{background: transparent; color: #fff;}
    50%{background: #d9534f; color: #bcd0da;}
	100%{background: #d9534f; color: #bcd0da;}
}
@-moz-keyframes waiting {
    0%{background: transparent; color: #fff;}
    50%{background: #d9534f; color: #bcd0da;}
    100%{background: #d9534f; color: #bcd0da;}
}
@keyframes waiting {
    0%{background: transparent; color: #fff;}
    50%{background: #d9534f; color: #bcd0da;}
	100%{background: #d9534f; color: #bcd0da;}
}

@-webkit-keyframes success {
    0%{background: transparent; color: #fff;}
    50%{background: #66a54c; color: #fff;}
	100%{background: #66a54c; color: #fff;}
}
@-moz-keyframes success {
    0%{background: transparent; color: #fff;}
    50%{background: #66a54c; color: #fff;}
    100%{background: #66a54c; color: #fff;}
}
@keyframes success {
    0%{background: transparent; color: #fff;}
    50%{background: #66a54c; color: #fff;}
	100%{background: #66a54c; color: #fff;}
}
.transaction span .label-default {
	font-size:8pt;
}
#payment_waiting .label-default {
	-webkit-animation: waiting 1s ease infinite;
    -moz-animation: waiting 1s ease infinite;
    animation: waiting 1s ease infinite;
}

#payment_waiting .label-success .paid {
	-webkit-animation: success 1s ease infinite;
    -moz-animation: success 1s ease infinite;
    animation: success 1s ease infinite;
}
.payment_send_info {
	font-size:10pt;
	background:#fff;
	padding:5px;
}
.trade_form {
	margin-top:10px;
}
.input-addon, .input-group-addon {
    color: #2b3e50;
}
#num_error, #bank_error {
	color: red;
    font-size: 10pt;
    text-align: right;
    margin-top: 5px;
}
.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
//	border-bottom-right-radius: 0px; 
//    border-bottom-left-radius: 0px; 
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.panel>.list-group:hover .list-group-item:hover, .panel>.panel-collapse>.list-grou:hover .list-group-item:hover {
    /* border-bottom: 0; */
	/* border-bottom-right-radius: 0px;  */
    /* border-bottom-left-radius: 0px;  */
	/* border-left:5px solid #fff; */
}
.table {
	font-size:9pt;
}
.trade_form label {
	margin-top:8px;
	font-weight:none;
}
.input-group-addon {
//	border-radius:0px;
//	border: 1px solid #1c1e22;
    border-left: 0px;
}
.form-horizontal .control-label {
	padding-top: 10px;
    font-size: 9pt;
}
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding:0px;
}
.tbtd {
	padding: 9px;
}
.active1 {
	background: #999;
    color: #fff;
    border-left: 5px solid #f38a32;
}
.news_space {
	/* padding-bottom: 10px; */
	/* padding-top: 10px; */
    /* border-bottom: 1px solid #dadada; */
}
.news_space, .news_details .date {
	color:#a9a8a8;
	padding-top: 5px;
	font-size:9pt;
}

.news_space, .news_details .date span {
//	margin-left:15px;
}

.news_space a {
	font-size: 13pt;
}

.news_space .contents {
	
}
.news_space img {
	width: 100%;
    border: 1px solid #ddd;
    height: auto;
	padding: 5px;
	min-height: 150px;
}

.news_space .clearfix {
	border-bottom: 1px dashed #ccc;
    margin-top: 5px;
}
/*phÃ¢n trang*/
div.pagination {
padding: 3px;
margin: 3px;
text-align:center;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #515861;

text-decoration: none; /* no underline */
color: #515861;
}
div.pagination a:hover, div.digg a:active {
border: 1px solid #515861;

color: #000;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #515861;

font-weight: bold;
background-color: #515861;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #515861;

color: #DDD;
}
.copyright {
//    background: #3e444c none repeat scroll 0% 0%;
    font-size: 9pt;
    color: #8a6d3b;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #121416;
    bottom: 0;
	width:100%;
}
.dropdown-menu>li>a {
	padding: 5px 20px;
}
.bootstrap-select.btn-group .dropdown-menu {
    border: 1px solid #ffffff;
    border-top: 0;
    background: #6cb55a;
}
.right-sp {
	font-size:14pt;
	color:#1da0eb;
}
.right-sp i{
	border: 1px solid #1da0eb;
    padding: 9px;
    border-radius: 30px;
    font-size: 25pt;
    padding-right: 12px;
    padding-left: 12px;
}
.right-sp p {
	margin: -40px 0px 14px 83px;
}
.topbar_icon.icq {
    background: url('../img/icq.png') no-repeat 0 center;
}
.topbar_icon.skype {
    background: url('../img/skype.png') no-repeat 0 center;
}
.topbar_icon {
    color: #fff;
    padding: 7px 0px 3px 35px;
    text-transform: lowercase;
    margin-top: 8px;
	padding-right: 15px;
}
.topbar_icon a{
    color: #fff;
}

.topbar_icon a:hover:before{
	width: 80px;
	margin-left:30px;
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.partner {
	border: 1px solid #6cb55a;
    border-radius: 4px;
    padding: 10px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: -25px;
	background: #fff;
}
.partner h3 {
	font-size: 15pt;
    margin: 0px;
	border-bottom: 1px solid #389638;
}
.partner img {
	width:80px;
	padding:5px;
}
header li .topbar_icon a:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

li .topbar_icon a:hover:before{
  visibility: none;
  -webkit-transform: none;
  transform: none;
}
.affix {
    width: 385px;
    top: 0;
    z-index: 9999;
}
.input-group .form-control {
	border-right:0px;
}
#payment_waiting span {
	color:#fff;
	font-size:9pt;
}
.account_load {
	top: -27px;
	margin-bottom: -27px;
    position: relative;
    float: right;
    color: #696363!important;
    margin-right: 10px;
}
.news_contents {
	color: #000!important;
}
.news_contents h1 {
	font-size:15pt;
	margin: 0;
    margin-bottom: 30px;
}

.news_contents img {
	max-width:100%!important;
}
#vutadesign .well {
    min-height: 20px;
//    padding: 15px;
//    margin-bottom: 20px;
    background: #fff;
    -webkit-box-shadow: 1px 2px 5px 0 rgba(2,2,2,.13);
    box-shadow: 1px 2px 5px 0 rgba(2,2,2,.13);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(85%,#fff),to(#eef5f6));
    background-image: linear-gradient(180deg,#fff,#fff 85%,#eef5f6);
}
#vutadesign .text-center{text-align:center}
#vutadesign h4, #vutadesign .h4 {
    font-size: 19px;
}
.itemdiv {
    padding-right: 3px;
    min-height: 66px;
    position: relative;
}
.wrapper{background:#fff;text-align:center}
.itemdiv.dialogdiv{padding-bottom:14px}
.itemdiv.dialogdiv .veritical-line{
	position:absolute;
	display:block;
	content:"";
	top:0;
	bottom:0;
	left:19px;
	width:3px;
	max-width:3px;
	background-color:#E1E6ED;
	border:1px solid #D7DBDD;
	border-width:0 1px
}
.itemdiv.dialogdiv:last-child:before{display:none}
.itemdiv.dialogdiv>.user>img{border-color:#C9D6E5}
.itemdiv.dialogdiv>.body{
	border:1px solid #DDE4ED;
	border-left: 3px solid #f38a32;
	background:#fff;
	padding:5px 8px 8px;
	border-left-width:2px;
	margin-right:1px
}
.itemdiv.dialogdiv>.body:before{
	display:block;
	position:absolute;
	left:-7px;
	top:11px;
	width:8px;
	height:8px;
	border:2px solid #DDE4ED;
	border-width:2px 0 0 2px;
	background-color:#ecf0f1;
	box-sizing:content-box;
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
.itemdiv.dialogdiv>.body>.time{position:static;float:right;font-size: 8pt;font-weight: bold;}
.itemdiv.dialogdiv>.body>.text{padding-left:0;padding-bottom:0px;text-align:left;font-size: 9pt;}
.itemdiv.dialogdiv>.body>.text:after{display:none;}
.read-more-box{text-align:center}
.read-more-box .read-more-link{
	border: 1px solid #fba810f2;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 13px;
    background: #fba810f2;
    color: #fff;
    text-transform: uppercase;
}
.read-more-box .read-more-link a {
	color: #fff
}
.report-summary-container .name{padding-right:20px}
.report-summary-container .name:after{content:":"}
.itemdiv>.body>.name{display:block;color:#999;font-size:12px;float:left}.itemdiv>.body>.name>b{color:#777777}
#vutadesign .link-color{color:#428bca}
/* .list-reviews{position:relative;overflow:auto;width:auto;height:395px;margin:0} */
.list-reviews{position:relative;overflow-y:auto;width:auto;max-height:464px;margin:0}
.pmd-card {
	border: 1px dashed #6cb55a;
    padding: 15px;
	min-height: 180px;
}
.pmd-card ul {
	padding-top: 15px;
    list-style-type: decimal;
}
.pm-card-body { }
.pm-card-body h4 { color:#000; }
.rate_sell {
    color: #b94a48;
}

.rate_buy {
    color: #468847;
}

.rate_sell:before,  .rate_buy:before {
	/* content: "\f0da"; */
	/* font-family: "fontawesome"; */
}

.navbar-default .navbar-nav > li > a {
	color:#efefe7!important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #31708f!important;
}
.navbar-default .navbar-nav > li > a {
	font-size: 9pt!important;
	text-transform: none;
}
.panel-success > .panel-heading {
	background: transparent;
	color:#999;
}
.title_sell span{
	font-size: 20pt;
    text-transform: uppercase;
    color: #b94a48;
}
.title_buy span{
	font-size: 20pt;
    text-transform: uppercase;
    color: #468847;
}
.title_container, .title_container span {
	font-size:13pt;
	color: #fff;
}
.formRed {
	border: 1px solid #b94a48;
    border-radius: 4px;
}
.labelRed {
	color: #b94a48;
}
.formRed > .input-group-addon {
	color: #b94a48;
    background-color: #f2dede;
}
.formBlue {
	border: 1px solid #374758;
    border-radius: 4px;
}
.labelBlue {
	color: #374758;
}
.formBlue > .input-group-addon {
	color: #374758;
    background-color: #d8eff0;
}

.formGreen {
	border: 1px solid #468847;
    border-radius: 4px;
}
.labelGreen {
	color: #468847;
}
.formGreen > .input-group-addon {
	color: #468847;
    background-color: #dff0d8;
}
.label-default {
    background-color: #b7b7b7;
}
.navbar-default {
    background-color: #374758;
    border-color: #374758;
}
.carousel {
    margin-top: -20px;
	border-top: 2px solid #ddd;
}
img {
    max-width: 100%;
}
.alert-warning {
    background-color: #fbb03b;
    border-color: #fbb03b;
	text-align:center;
}

.rate_update_time {
	color: #000!important;
	font-size:9pt;
	font-weight: bold;
}
.rate_header {
	background: #374758!important;
    color: #fff;
}
.rate_header th {
	padding: 10px!important;
}
.buysell_icon {
	text-align: center;
	background: #fff;
}
.buysell_icon img {
	max-width: 100px;
}
.buysell_icon h3 {
	margin: 0;
}
.buysell_icon .buysell_icon_sell {
	color: #b94a48;
}
.buysell_icon .buysell_icon_buy {
	color: #468847;
}
/* Custom CSS */
/* .resource{
	right: 0;
	top: 0;
	display: block;
	height: auto;
	max-width: 300px;
	position: fixed;
	background: #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #ddd;
	border-width: 1px 0 1px 1px;
}
.resource .row{
	position: relative;
}
.resource .sResrouce{
	position: absolute;
	transform: rotateY(45deg);
	left: -30px;
	top: 25%;
	background: #1da0eb;
} */
.nav-tabs.user-panel > li > a{
	margin-right: 0;
}
.nav-tabs.user-panel > li > a:hover, .nav-tabs.user-panel > li.active > a, .nav-tabs.user-panel > li > a{
	position: relative;
	background: transparent;
	border-width: 0 0 1px 0;
}
.nav-tabs.user-panel > li > a:hover::before, 
.nav-tabs.user-panel > li.active > a::before{
	width: 100%;
	left: 0;
	border-color: #f7931a;
}
.nav-tabs.user-panel > li > a::before{
	content: '';
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 1px solid transparent;
	position: absolute;
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.title-user{
	color: #555;
	margin: 0 0 20px 0;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	height: 400px;
	width: 100%;
}
.panel-body img.icon{
	width: 20px!important;
	display: inline-block;
	margin-right: 4px;
}
.mResource table{
	margin-bottom: 0;
}
.mResource .panel-body{
	max-height: 300px;
	overflow-y: auto;
}
.mResource .panel-body{
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	max-height: none;
}
.mResource .panel-body img.icon:hover, .mHistory .panel-body img.icon:hover{
	box-shadow: none;
}
.mHistory .panel-body{
	padding: 0;
	max-height: 400px;
	overflow-y: auto;
}
.mHistory .panel-body table{
	margin-bottom: 0px
}
/*.mHistory .panel-body table{
	margin: 0;
}
.mHistory .panel-body table thead{
	width: 100%;
	display: table;
}
.mHistory .panel-body table thead th{
	text-align: center;
	display: table-cell;
	width: 30%;
}
.mHistory .panel-body table thead th:first-child{
	text-align: left;
}
.mHistory .panel-body table thead th:last-child{
	text-align: right;
}

.mHistory .panel-body table tbody td{
	display: table-cell;
	width: 37%;
	text-align: left;
}
.mHistory .panel-body table tbody td:last-child{
	text-align: right;
}
.mHistory .panel-body table tbody{
	padding: 0;
	max-height: 490px;
	overflow-y: auto;
	display: block;
}*/
.mHistory .panel-body tr>td, .mResource .panel-body tr>td{
	margin: auto 0;
	vertical-align: middle;
	padding: 5px;
}
.mHistory .panel-body tr>td small{
	vertical-align: top;
}
.panel-body img.icon-select{
	width: 15px!important;
	margin-right: 10px!important;
}
.panel-body img.icon-select{
	display: inline-block
}
.bootstrap-select.btn-group .dropdown-menu{
	background: #fff;
}
.bootstrap-select.btn-group .dropdown-menu{
	border-color: #555;
}
.bootstrap-select .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background: #fff;
	color: #000;
}
.panel-body img.icon-select:hover{
	box-shadow: none;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100%;
}
.bootstrap-select .dropdown-menu > li > a{
	padding: 5px 13px;
}
.panel-primary, .panel-success, .panel-info{
	border-color: transparent;
}
.panel-primary .panel-heading{
	border-color: #374758;
	background: #374758;
}
.panel-heading{
	background-color: #374758!important;
	color: #fff!important
}
.panel-primary .panel-heading .title_container{
	color: #fff;
}
.panel-body img{
	max-width: 100%!important;
	width: auto!important;
	height: auto!important;
	display: block;
	margin: 5px auto;
	transform: scale(1, 1);
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	z-index: 0;
}
.panel-body img:hover{
	z-index: 10;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.28);
}
.panel-body.wContact{
	padding: 0 5px;
}
.panel-body.wContact ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.panel-body.wContact li{
	border-bottom: 1px dashed #ddd;
	padding: 3px;
}
.panel-body.wContact li:hover{
	background: #ddd;
}
.panel-body.wContact li:last-child{
	border-bottom: 0;
}
.panel-body.wContact li a{
	display: block;
}
.panel-body.wContact li img{
	width: 25px!important;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
}
.panel-body.wContact li img:hover{
	box-shadow: none;
}
.panel-body.wContact li span{
	vertical-align: middle;
	display: inline-block;
	color: #000;
	font-size: 15px;
}
.mContact{
	padding: 10px 0;
}
.mContact .mBorder img, .mContact .mBorder span{
	display: block;
	vertical-align: middle;
	margin: 0 auto;
}
.mContact .mBorder img{
	max-width: 50px;
	margin: 5px auto;
}
.mContact .mBorder span{
	font-size: 15px;
	background: #374758;
	color: #fff;
}
.mContact .mBorder:hover span{
	width: 100%;
	color: #c8ecfe;
}
.mContact .mBorder{
	background: #fff;
	text-align: center;
	/* border-right: 1px solid #ddd; */
	transform: scale(1,1);
	-webkit-transition: transform 0.5s ease-out; 
	-moz-transition: transform 0.5s ease-out; 
	-o-transition: transform 0.5s ease-out; 
	transition: transform 0.5s ease-out;
	padding-top: 5px;
	position: relative;
	display: block;
}
.mContact .mBorder:hover{
	transform: scale(1.03, 1.03);
}
.mContact .mBorder::before, .mContact .mBorder::after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	border: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.5s ease-out; 
	-moz-transition: all 0.5s ease-out; 
	-o-transition: all 0.5s ease-out; 
	transition: all 0.5s ease-out;
}
.mContact .mBorder::before{
	width: 100%;
	bottom: 0;
	left: 0;
	border-width: 0 1px 0 1px;
}
.mContact .mBorder:hover::before{
	border-color: #0088dd;
	height: 100%;
}
.mContact .mBorder::after{
	height: 100%;
	top: 0;
	right: 0;
	border-width: 1px 0 0 0;
}
.mContact .mBorder:hover::after{
	left: 0;
	border-color: #0088dd;
	width: 100%;
}
.carousel-inner > .item .sliderTextOne{
	/* box-shadow: 0 0 10px 1px #222; */
	/* text-align: center; */
	width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale(0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.5s ease-out; 
	-moz-transition: all 0.5s ease-out; 
	-o-transition: all 0.5s ease-out; 
	transition: all 0.5s ease-out;
	word-wrap: break-word;
}
.carousel-inner > .item.active .sliderTextOne{
	transform: scale(1,1);
}
.carousel-inner > .item .sliderTextOne .TextDes, .carousel-inner > .item .sliderTextOne .MidFixed{
	display: inline-block;
	vertical-align: middle;
}
.carousel-inner > .item .sliderTextOne .MidFixed{
	height: 100%;
	width: 25%;
}
.carousel-inner > .item .sliderTextOne .TextDes{
	width: 50%;
	padding: 20px;
	background: rgba(255,255,255, 0.5);
}
.carousel-inner > .item .sliderTextOne h1, .carousel-inner > .item .sliderTextOne h2, .carousel-inner > .item .sliderTextOne h3{
	margin: auto;
}
.eRed{
	animation: eRed 3s ease;
	-webkit-animation: eRed 3s ease;
	-moz-animation: eRed 3s ease;
	-o-animation: eRed 3s ease;
}
@keyframes eRed{
	from{
		background: #b94a48;
		color: #fff;
		padding: 4px;
		border-radius: 4px;
	}
	to{
		background: transparent;
		padding: 0;
		border-radius: 0;
	}
}
@-webkit-keyframes eRed{
	from{
		background: red;
		padding: 4px;
		border-radius: 4px;
	}
	to{
		background: transparent;
		padding: 0;
		border-radius: 0;
	}
}
@-moz-keyframes eRed{
	from{
		background: red;
		padding: 4px;
		border-radius: 4px;
	}
	to{
		background: transparent;
		padding: 0;
		border-radius: 0;
	}
}
@-o-keyframes eRed{
	from{
		background: red;
		padding: 4px;
		border-radius: 4px;
	}
	to{
		background: transparent;
		padding: 0;
		border-radius: 0;
	}
}
.eGreen{
	animation: eGreen 3s ease;
	-webkit-animation: eGreen 3s ease;
	-moz-animation: eGreen 3s ease;
	-o-animation: eGreen 3s ease;
}
@keyframes eGreen{
	from{
		background: #468847;
		color: #fff;
		padding: 4px;
		border-radius: 4px;
	}
	to{
		background: transparent;
		padding: 0;
		border-radius: 0;
	}
}
@-webkit-keyframes eGreen{
	from{
		background: green;
		padding: 4px;
		border-radius: 4px;
	}
	to{
		background: transparent;
		padding: 0;
		border-radius: 0;
	}
}
@-moz-keyframes eGreen{
	from{
		background: green;
		padding: 4px;
		border-radius: 4px;
	}
	to{
		background: transparent;
		padding: 0;
		border-radius: 0;
	}
}
@-o-keyframes eGreen{
	from{
		background: green;
		padding: 4px;
		border-radius: 4px;
	}
	to{
		background: transparent;
		padding: 0;
		border-radius: 0;
	}
}
footer {
  background: #212121;
  background-image: url('../img/bg_footer.png');
  background-position: 0 0;
  background-size: cover;
  padding: 0;
  float: left;
  width: 100%;
}
footer img{
	margin-bottom: 10px;
}
footer .footer{
	background: rgba(0,0,0,0.4);
	padding: 20px;
	box-shadow: 0px 0px 20px 0px #fff6;
}
/*footer {
	width: 100%;
    min-height: 250px;
    padding: 20px;
    margin: 0;
    font-size: 14px;
    color: #BBC0CB;
    display: flex;
    justify-content: center;
    background: linear-gradient(hsla(0, 0%, 13%, 0.82), hsla( 222, 5%, 20%,.8)),url(../images/bg_footer.jpg)no-repeat center center fixed;
    background-size: cover;
}*/
  footer .logo a {
	display: block; 
	color: #fff;}
	footer .fDetail figure{
		color: #fff;
	}
    footer .logo a h1 {
      font-family: UTM_HelvetIns;
      font-weight: bold;
      color: #fff;
      margin: 0 0 10px 0; }
      footer .logo a h1:hover, footer .logo a h1:focus {
        color: #9b59b6; }
    footer .logo a strong {
      color: #f7931a;
      text-transform: uppercase; }
  footer .logo p{
    margin: 0;
    color: #fff; }
    footer .logo p strong {
      margin-right: 5px; }
      footer .logo p strong::after {
        content: ':'; }
  footer h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
	border-bottom: 1px solid #777; }
	footer .fSocial img{
		margin-right: 5px;
	}
  footer ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    footer ul li a {
      color: #fff;
      display: block;
      padding: 3px 0; }
      footer ul li a:hover, footer ul li a:focus {
        color: #f7931a; }
    footer ul.nav-bottom li a::before {
      font-family: 'FontAwesome';
      margin-right: 5px;
      font-size: 15px;
      color: #ddd;
      content: ""; }
    footer ul.nav-bottom li a:hover::before {
	  color: #f7931a; }
	footer ul.nav-bottom li a.fSocial::before{
		content: '';
	}
  footer .copyright {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
	background: #333; 
}
footer .copyright{
	background: #333;
	color: #fff;
	padding: 5px 0;
	margin-top: 0;
	border-top: 0;
}
footer .copyright a{
	color: #fff;
}
@media screen and (max-width: 768px){
	#snipper{
		/*padding-left: 0;*/
	}
	.logo { 
		width: 265px;
		margin-top: auto;
		padding: 0;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: auto;
	}
	.rateTable{
		/*padding: 0;*/
	}
	.mHistory{
		padding: 0;
	}
	.nopadding-right{
		padding-right: 15px;
	}
	footer .col-sm-4{
		margin-bottom: 10px;
	}
	.carousel-inner > .item .sliderTextOne{
		width: 100%;
	}
	.carousel-inner > .item .sliderTextOne .TextDes{
		margin-top: 0;
		width: 100%;
		height: 100%;
		display: block;
		padding: 5px;
	}
	.carousel-inner h2, .carousel-inner h3, .carousel-inner h4, .carousel-inner .TextDes span{
		font-weight: 700;
		font-size: 12px!important;
		vertical-align: middle;
	}
	.carousel-inner p{
		line-height: 0.8!important;
		margin-bottom: 5px;
	}
	.carousel-inner h1{
		display: none;
	}
	.carousel-inner h4 span{
		display: none;
	}
	
	.carousel-inner > .item .sliderTextOne .MidFixed{
		display: none;
	}
}
@media screen and (max-width: 600px){
	.logo { 
		width: 200px;
		margin-top: auto;
		padding: 0;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: auto;
	}
	.rateTable{
		padding: 0;
	}
	.mHistory{
		padding: 0;
	}
	.nopadding-right{
		padding-right: 15px;
	}
	footer .col-sm-4{
		margin-bottom: 10px;
	}
	.carousel-inner h2, .carousel-inner h3, .carousel-inner h4, .carousel-inner .TextDes span{
		font-weight: 700;
		font-size: 10px!important;
		vertical-align: middle;
	}
	.carousel-inner p{
		line-height: 0.8!important;
		margin-bottom: 5px;
	}
	.carousel-inner h1{
		display: none;
	}
	.carousel-inner h4 span{
		display: none;
	}
	.tb_detail_transaction td{
		font-size: 12px!important
	}
	.detail-order .countdown-time b {
		font-size: 46px!important
	}
	.h-phone {
		display: none;
	}
	.info-url-vi input {
	    width: 70px
	}
}
.rate_loading {
	
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #1b6ab5;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #1b6ab5;
}
.alert-info {
	background: #374758
}
.tb-customize td {
	padding: 5px!important;
}
.tb-customize th {
	padding: 5px!important;
}
.list-guide-form img {
	float: left!important;
	width: 30px!important;
	height: 30px!important
}
.list-guide-form a {
	float: left!important;
	font-size: 13px!important;
	line-height: 30px;
}
.list-guide-form .news {
	float: left;
	width: 100%
}
.list-guide-form li {
	float: left!important;
	width: 100%!important;
}
.tb-history th{
	padding: 5px 3px!important
}
.tb-history td{
	padding: 3px!important
}
.check-validate-success {
	position: absolute;
    top: 7px;
    font-size: 17px;
    right: 21px;
    color: #0b9215;
    display: none;
}
.check-validate-fail {
	position: absolute;
    top: 7px;
    font-size: 17px;
    right: 21px;
    color: red;
    display: none
}
.detail-order {
	float: left;
	width: 100%;
	background: #fff;
	margin-bottom: 30px
}
.detail-order .step-introduce {
	float: left;
	width: 100%;
}
.detail-order .step-introduce span{
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #9b59b6;
    border-radius: 10px;
}
.detail-order .countdown-time {
	float: left;
    width: 100%;
    text-align: center;
    border: 1px solid #f8e6e6;
    margin: 30px 0px;
    background-color: #fff5f5;
    color: #bb3737;
    padding: 20px
}
.detail-order .cancel-order{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.detail-order .countdown-time b{
	font-size: 52px
}
.detail-order table td {
	padding: 8px!important;
	font-size: 14px;	
}
.title_container_b {
	color: #374758;
    margin-bottom: 10px;
    font-size: 20px;
}
.tb-name-coin {
	display: inline-block;
	min-width: 55px
}
.tb-price-coin {
	display: inline-block;
	min-width: 65px
}
.tb-number-coin {
	display: inline-block;
	min-width: 65px
}
.tb-state-coin {
	display: inline-block;
	min-width: 65px
}
.table-responsive {
	padding: 0px!important
}
.info-url-vi {
	display: inline-block;
}
.info-url-vi input {
	border: 1px solid #ccc;
    padding-left: 5px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}
.info-url-vi button {
	font-size: 13px;
    border: 1px solid orange;
    background: orange;
    color: #fff;
    height: 25px;
    line-height: 19px;
    border-radius: 3px;
}
#da-sao-chep {
	position: fixed;
    top: 71px;
    right: 10px;
    padding: 7px;
    font-size: 14px;
    background: red;
    color: #fff;
    width: 150px;
    text-align: center;
}
.w_40 {
	width: 40px
}
.w_60 {
	width: 60px
}